.nav {
  grid-area: n;
  padding: 20px;
  margin-right: 10px;
  background-color: gainsboro;
}

.item a {
  color: green;
  margin-left: auto;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-left: 9px;
}

.item a:hover {
  font-size: 20px;
  border-left: 2px solid green;
}

.item a.active {
  color: darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
}
