.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    display: flex;
    align-items: center;
}

.myDialog {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.messages {
    padding: 10px;

}

.chats img{
    height: 40px;
    border-radius: 20px;
}

.messages, .myDialog img, .dialog img {
    height: 40px;
    border-radius: 20px;
}
